body {
  font-family: 'Poppins', sans-serif;

  }
  .hero {
    background: linear-gradient(rgba(71, 7, 7, 0.5), rgba(55, 1, 1, 0.9)), url('img/inicio.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card img {
    object-fit: cover;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  footer {
    text-align: center;
      padding: 10px 0;
      background-color: #801919;
      color: white;
  }
  .nav-link {
    color: white !important;
  }
  /* Styling do acordeão */
  .accordion-button:not(.collapsed) {
          background-color: #d9534f; /* Cor de destaque */
          color: white;
          font-weight: bold;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
  }

  .accordion-button {
      background-color:#801919; /*   Cor de fundo padrão */
      color: #ffffff;
      border: none;
      transition: all 0.3s ease;
      font-size: 1.1rem;
  }

  .accordion-button:hover {
      background-color: #822f2f;
      color: white;
  }

  .accordion-body {
      background-color: #d7bbbb;
      padding: 20px;
      border-radius: 0.25rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .accordion-item {
      border: none;
      margin-bottom: 1rem;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }

  header {
      background-color: #801919;
      color: white;
  }

  .navbar .nav-link {
      color: white;
      font-weight: 600;
      padding: 10px 20px;
      transition: color 0.3s;
  }

  .navbar .nav-link:hover {
      color: #ffcccb;
  }

  .card {
      transition: transform 0.3s, box-shadow 0.3s;
      border: none;
      border-radius: 20px;
  }

  .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .accordion-button {
      background-color: #801919;
      color: white;
      font-weight: 600;
      transition: background-color 0.3s;
  }

  .accordion-button:not(.collapsed) {
      background-color: #bf4d4d;
  }

  footer {
      background-color: #801919;
      color: white;
      padding: 20px 0;
      text-align: center;
  }

  .btn-custom {
      background-color: #801919;
      color: white;
      padding: 10px 20px;
      border-radius: 25px;
      transition: background-color 0.3s;
  }

  .btn-custom:hover {
      background-color: #bf4d4d;
  }

  @media (max-width: 768px) {
    .qrcode{
      width: 80% !important;
    }

    .hero .container-fluid {
      flex-direction: column; /* Empilha os elementos na vertical */
    }
  
    .hero .col-md-6 {
      text-align: left; /* Alinha o texto à esquerda no mobile */
    }
  
    .hero img {
      display: none; /* Oculta a imagem */
    }
  
    .hero p {
      font-size: 16px !important; /* Reduz o tamanho da fonte */
    }
  
    .title {
      font-size: 1.2rem;
    }
  
    .logo {
      width: 40%;
      padding: 0px;
    }
  
    #about {
      padding: 15px; /* Reduzido o padding */
      border-radius: 0.25rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0; /* Remove margens */
      padding: 0; /* Remove padding */
    }
  
    .accordion-button {
      font-size: 0.9rem;
    }
  
    .accordion-body {
      font-size: 1rem;
    }
  
    .card {
      margin: 0; /* Removido margin */
      padding: 0; /* Removido padding */
      width: 100%;
    }
  
    /* Reduzir o tamanho das imagens em telas pequenas */
    #mitos_verdades img {
      width: 100px;
      margin: 10px;
    }
    #mitos_verdades{
      padding: 0.8rem !important;
    }
    .padding_mobile{
      padding: 0.9rem !important;
      margin: 0;
    }
  }