body {
  font-family: 'Poppins', sans-serif;

  }
  .hero {
    background: linear-gradient(rgba(71, 7, 7, 0.5), rgba(55, 1, 1, 0.9)), url('img/inicio.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card img {
    object-fit: cover;
    height: 200px;
  }
  footer {
    text-align: center;
      padding: 10px 0;
      background-color: #801919;
      color: white;
  }
  .nav-link {
    color: white !important;
  }
  /* Styling do acordeão */
  .accordion-button:not(.collapsed) {
          background-color: #d9534f; /* Cor de destaque */
          color: white;
          font-weight: bold;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
  }

  .accordion-button {
      background-color:#801919; /*   Cor de fundo padrão */
      color: #ffffff;
      border: none;
      transition: all 0.3s ease;
      font-size: 1.1rem;
  }

  .accordion-button:hover {
      background-color: #822f2f;
      color: white;
  }

  .accordion-body {
      background-color: #d7bbbb;
      padding: 20px;
      border-radius: 0.25rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .accordion-item {
      border: none;
      margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .hero .container-fluid {
        flex-direction: column; /* Empilha os elementos na vertical */
    }

    .hero .col-md-6 {
        text-align: left; /* Alinha o texto à esquerda no mobile */
    }

    .hero img {
        display: none; /* Oculta a imagem */
    }

    .hero p {
        font-size: 16px !important; /* Reduz o tamanho da fonte */
    }
    .hero{
        height: 70vh;
        padding: 0px;
    }
    .title{
        font-size:1.2rem;
    }
    .logo{
        width: 40%;
        padding:0px;
    }
    .card-mobile{
        padding: 0px;
    }
    #about{
      padding: 20px;
      border-radius: 0.25rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .col-md-5, .col-md-2 {
      width: 100%;
      padding: 10px;
    }
  
    .col-md-2 img {
      max-width: 100px;
    }
  
    /* Centralizar texto e ajustar fontes para telas menores */
    .text-center h1, .text-center p {
      font-size: 1.2rem;
    }
  
    .accordion-button {
      font-size: 0.9rem;
    }
    
    .accordion-body {
      font-size: 0.85rem;
    }
  
    /* Reduzir o tamanho das imagens em telas pequenas */
    #mitos_verdades img {
      width: 100px;
    }

  }